<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertBook</servlet-name>
        <servlet-class>com.login.InsertBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewBook</servlet-name>
        <servlet-class>com.book.InsertNewBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verify</servlet-name>
        <servlet-class>com.login.Verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>com.login.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>com.login.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyProfile</servlet-name>
        <servlet-class>com.login.ModifyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifiedProfile</servlet-name>
        <servlet-class>com.login.ModifiedProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>com.book.DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletedBook</servlet-name>
        <servlet-class>com.book.DeletedBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBooks</servlet-name>
        <servlet-class>com.book.ListBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBook</servlet-name>
        <servlet-class>com.book.UpdateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatedBook</servlet-name>
        <servlet-class>com.book.UpdatedBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertBook</servlet-name>
        <url-pattern>/InsertBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewBook</servlet-name>
        <url-pattern>/InsertNewBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify</servlet-name>
        <url-pattern>/Verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyProfile</servlet-name>
        <url-pattern>/ModifyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifiedProfile</servlet-name>
        <url-pattern>/ModifiedProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletedBook</servlet-name>
        <url-pattern>/DeletedBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBooks</servlet-name>
        <url-pattern>/ListBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBook</servlet-name>
        <url-pattern>/UpdateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatedBook</servlet-name>
        <url-pattern>/UpdatedBook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
